@using AVS.Models.AddressModels
@using AVS.Models.AdvertisementModels
@{
    ViewData["Title"] = "Home Page";
    int n = 18;
}

<div class="main_container">
    <div class="searched_container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form asp-controller="Search" asp-action="SearchWithInput" method="get">
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Категории</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-dropdown" role="menu">
                                @foreach (Category item in ViewBag.Categories)
                                {
                                    <li>
                                        <a asp-controller="Search"
                                           asp-action="GetAllForCategory" asp-route-id="@item.Id">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <input type="text" class="form-control" name="SearchInput" id="search" placeholder="Search">

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept2">Город</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-dropdown" role="menu">
                                @foreach (Locality locality in ViewBag.Locality)
                                {
                                    <li>
                                        <a asp-controller="Search"
                                           asp-action="GetAllForLocality" asp-route-id="@locality.ID"> @locality.Name</a>
                                    </li>
                                }
                            </ul>
                        </span>
                    </div>
                    <div id="autocomplete-list" class="autocomplete_items"></div>
                </form>

            </div>
        </div>
    </div>
    <h1>Рекомендуемое</h1>
    <content class="product_list">
        @foreach (Advertisement adv in ViewBag.Advertisements)
        {
            string addres = $"р.{adv.Address.Street.Locality.Region.Name}, г.{adv.Address.Street.Locality.Name}, ул.{adv.Address.Street.Name}";
            <div class="product_container">
                <img src="@adv.Photos[0].Path" />
                <a asp-controller="Advertisement" asp-action="ShowAdvertisement" asp-route-id="@adv.ID">@adv.Title</a>
                <p>@adv.Price руб.</p>
                <p><span>@addres</span></p>
            </div>
        }
    </content>

    <div class="pagination">
        <button class="prev_page">&laquo;</button>
        @for (int i = 0; i < Math.Ceiling((double)ViewBag.Advertisements.Count / n); i++)
        {
            <span class="page_number">@((i + 1))</span>
        }
        <button class="next_page">&raquo;</button>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var currentPage = 1;
            var productsPerPage = @n;

            $('#search').keyup(function () {
                var inputText = $(this).val();
                if (inputText.length >= 3) { // Минимальная длина запроса для автозаполнения
                    $.ajax({
                        type: 'GET',
                        url: '/Search/Autocomplete',
                        data: { prefix: inputText },
                        success: function (data) {
                            var suggestions = data;
                            $('#autocomplete-list').empty();
                            $.each(suggestions, function (index, value) {
                                $('#autocomplete-list').append('<li>' + value + '</li>');
                            });
                            $('#autocomplete-list').show();
                        }
                    });
                } else {
                    $('#autocomplete-list').hide();
                }
            });

            $(document).on('click', 'li', function () {
                var suggestion = $(this).text();
                $('#search').val(suggestion);
                $('#autocomplete-list').hide();
            });

            showProducts(currentPage);

            $('.pagination').on('click', '.page_number', function () {
                currentPage = parseInt($(this).text());
                showProducts(currentPage);
            });

            $('.pagination').on('click', '.prev_page', function () {
                if (currentPage > 1) {
                    currentPage--;
                    showProducts(currentPage);
                }
            });

            $('.pagination').on('click', '.next_page', function () {
                var numPages = Math.ceil($('.product_container').length / productsPerPage);
                if (currentPage < numPages) {
                    currentPage++;
                    showProducts(currentPage);
                }
            });

            function showProducts(page) {
                var startIndex = (page - 1) * productsPerPage;
                var endIndex = startIndex + productsPerPage;

                $('.product_container').hide();

                $('.product_container').slice(startIndex, endIndex).show();

                $('.page_number').removeClass('active');
                $('.page_number').eq(page - 1).addClass('active');
            }
        });
    </script>
}