@using AVS.Models.AddressModels
@using AVS.Models.AdvertisementModels
@model Advertisement;
@{
    ViewData["Title"] = $"{Model.Title}";
    int n = 4;
    string address = $"рег.{Model.Address.Street.Locality.Region.Name},\nгор.{Model.Address.Street.Locality.Name},\nул.{Model.Address.Street.Name}";
}

<div class="main_container">
    <div class="searched_container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form asp-controller="Search" asp-action="SearchWithInput" method="get">
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Категории</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-dropdown" role="menu">
                                @foreach (Category item in ViewBag.Categories)
                                {
                                    <li>
                                        <a asp-controller="Search"
                                           asp-action="GetAllForCategory" asp-route-id="@item.Id">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <input type="text" class="form-control" name="SearchInput" maxlength="100" id="search" required placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept2">Город</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-dropdown" role="menu">
                                @foreach (Locality locality in ViewBag.Locality)
                                {
                                    <li>
                                        <a asp-controller="Search"
                                           asp-action="GetAllForLocality" asp-route-id="@locality.ID"> @locality.Name</a>
                                    </li>
                                }
                            </ul>
                        </span>
                    </div>
                    <div id="autocomplete-list" class="autocomplete_items"></div>
                </form>
            </div>
        </div>
    </div>
    <content>
        <div class="advertisement_container">
            <div class="advertisement_info">
                <div class="adv_title">
                    <h1>@Model.Title</h1>
                </div>
                <div class="slider_сontainer">
                    <div class="col-sm-9">
                        <div id="carousel" class="carousel slide">
                            <div class="carousel-inner">
                                @for (int i = 0; i < Model.Photos.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <div class="item active">
                                            <img src="@Model.Photos[i].Path">
                                        </div>
                                        continue;
                                    }

                                    <div class="item">
                                        <img src="@Model.Photos[i].Path">
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="clearfix">
                            <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        @for (int i = 0; i < Math.Min(n, Model.Photos.Count); i++)
                                        {
                                            <div data-target="#carousel" data-slide-to="@i" class="thumb">
                                                <img src="@Model.Photos[i].Path">
                                            </div>
                                        }
                                    </div><!-- /item -->
                                    <div class="item">
                                        @for (int i = n; i < Model.Photos.Count; i++)
                                        {
                                            <div data-target="#carousel" data-slide-to="@i" class="thumb">
                                                <img src="@Model.Photos[i].Path">
                                            </div>
                                        }
                                    </div>
                                </div><!-- /carousel-inner -->
                                @if (Model.Photos.Count > n)
                                {
                                    <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>

                                    <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                }
                            </div> <!-- /thumbcarousel -->
                        </div><!-- /clearfix -->
                    </div> <!-- /col-sm-6 -->

                </div>
                <h1>Описание</h1>
                <div class="advertisement_discription">
                    <div>
                        <p>@Model.Description</p>
                    </div>
                </div>
                <h1>Адрес</h1>
                <div class="advertisement_address">
                    <div>
                        <p>@address</p>
                    </div>
                </div>
            </div>
            <div class="seller_info">
                <h1>@Model.Price руб.</h1>
                <p>Количество просмотров: @Model.NumberOfViews</p>
                <div class="feedback_buttons">
                    <button id="showPhoneNumberBtn" data-toggle="modal" data-target="#phoneNumberModal">Показать номер</button>
                    <button onclick="location.href='@Url.Action(
                        "Index","Messages", new {userId = Model.UserId})'">
                        Написать сообщение
                    </button>
                </div>
                <div>
                    <div class="personal_info_container">
                        <img class="userLogo" src="https://demotivation.ru/wp-content/uploads/2020/09/vindiesel156919.jpg" />
                        <p><span>@Model.User.Name</span> <span>@Model.User.SecondName</span></p>
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>

<div class="modal fade" id="phoneNumberModal" tabindex="-1" role="dialog" aria-labelledby="phoneNumberModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="phoneNumberModalLabel">Номер телефона</h5>
            </div>
            <div class="modal-body">
                <p>Номер телефона: <a href="tel:@Model.User.NumberPhone"><span id="phoneNumber"></span></a></p>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            var currentPage = 1;
            var productsPerPage = @n;

            $('#search').keyup(function () {
                var inputText = $(this).val();
                if (inputText.length >= 3) { // Минимальная длина запроса для автозаполнения
                    $.ajax({
                        type: 'GET',
                        url: '/Search/Autocomplete',
                        data: { prefix: inputText },
                        success: function (data) {
                            var suggestions = data;
                            $('#autocomplete-list').empty();
                            $.each(suggestions, function (index, value) {
                                $('#autocomplete-list').append('<li>' + value + '</li>');
                            });
                            $('#autocomplete-list').show();
                        }
                    });
                } else {
                    $('#autocomplete-list').hide();
                }
            });

            $(document).on('click', 'li', function () {
                var suggestion = $(this).text();
                $('#search').val(suggestion);
                $('#autocomplete-list').hide();
            });
        });
        // Обработчик события нажатия на кнопку "Показать номер"
        document.getElementById('showPhoneNumberBtn').addEventListener('click', function () {
            var phoneNumber = '@Json.Serialize(Model.User.NumberPhone)'; // Получение номера телефона из модели
            document.getElementById('phoneNumber').innerText = phoneNumber; // Отображение номера телефона в модальном окне
            $('#phoneNumberModal').modal('show'); // Открытие модального окна
        });
    </script>
}