@using AVS.Models.AdvertisementModels
@using AVS.Models.UserModels;
@model User;
@{
    ViewData["Title"] = "Мои объявления";
    int n = 5;
}

<div class="personal_info">
    <div class="personal_info_container">
        <img class="userLogo" src="https://demotivation.ru/wp-content/uploads/2020/09/vindiesel156919.jpg" />
        <p><span>@Model.Name</span> <span>@Model.SecondName</span></p>
    </div>
    <hr>
    <div class="pesronal_settings">
        <a asp-controller="PersonalAccount" asp-action="Index">Мои сообщения</a>
        <a asp-controller="PersonalAccount" asp-action="MyAdvertisements">Мои объявления</a>
        <a asp-controller="Advertisement" asp-action="CreateAdvertisement">Создать объявление</a>
        <a asp-controller="PersonalAccount" asp-action="UserEditor">Изменить личные данные</a>
        <a asp-controller="PersonalAccount" asp-action="Logout">Выйти</a>
    </div>
</div>
<div class="chats_container">
    <h1>Мои объявления</h1>
    <nav>

    </nav>
    <content>
        @{
            foreach (Advertisement advertisement in Model.Advertisements)
            {
                <div class="advertisement_info_container">
                    <div class="userSenderLogo">
                        <img src="@advertisement.Photos[0].Path" alt="img"/>
                    </div>
                    <div class="advertisement_dsc_container">
                        <a asp-controller="Advertisement" asp-action="ShowAdvertisement" asp-route-id="@advertisement.ID">@advertisement.Title</a>
                        <p href="#">@advertisement.Description</p>
                        <p>Количество просмотров: @advertisement.NumberOfViews</p>
                    </div>
                </div>
            }
        }
    </content>
    @if (Model.Advertisements.Count > n)
    {
        <div class="pagination">
            <button class="prev_page">&laquo;</button>
            @for (int i = 0; i < Math.Ceiling((double)Model.Advertisements.Count / n); i++)
            {
                <span class="page_number">@((i + 1))</span>
            }
            <button class="next_page">&raquo;</button>
        </div>
    }
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var currentPage = 1;
            var productsPerPage = @n;

            showProducts(currentPage);

            $('.pagination').on('click', '.page_number', function () {
                currentPage = parseInt($(this).text());
                showProducts(currentPage);
            });

            $('.pagination').on('click', '.prev_page', function () {
                if (currentPage > 1) {
                    currentPage--;
                    showProducts(currentPage);
                }
            });

            $('.pagination').on('click', '.next_page', function () {
                var numPages = Math.ceil($('.advertisement_info_container').length / productsPerPage);
                if (currentPage < numPages) {
                    currentPage++;
                    showProducts(currentPage);
                }
            });

            function showProducts(page) {
                var startIndex = (page - 1) * productsPerPage;
                var endIndex = startIndex + productsPerPage;

                $('.advertisement_info_container').hide();

                $('.advertisement_info_container').slice(startIndex, endIndex).show();

                $('.page_number').removeClass('active');
                $('.page_number').eq(page - 1).addClass('active');
            }
        });
    </script>
}